# dependencies
/node_modules

# Next.js build output
/.next/
/out/

# production output
/build/

# local environment files
.env*
!.env.example

# package manager and test caches
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage/

# TypeScript
*.tsbuildinfo

# operating system and editor files
.DS_Store
*.pem

# Vercel
.vercel
