.app {
  background-color: #000;
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.app-wrapper {
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 80px 0;
  width: 1000px;
}

.app-section__row {
  display: flex;
  width: 100%;
}

.app-section__white-divider,
.app-section__yellow-divider,
.app-section__red-divider,
.app-section__blue-divider {
  height: 8px;
  width: 100%;
}

.app-section__white-divider {
  background-color: #FFF;
}

.app-section__yellow-divider {
  background-color: #E6BE2F;
}

.app-section__red-divider {
  background-color: #D72F31;
}

.app-section__blue-divider {
  background-color: #0093CF;
}

.app-section__vertical-spacing {
  height: 40px;
  width: 100%;
}

.app-section__horizontal-spacing {
  height: 100%;
  width: 40px;
}

.app-section__white-heading,
.app-section__yellow-heading,
.app-section__red-heading, 
.app-section__blue-heading {
  display: flex;
  width: 33%;
}

.app-section__yellow-heading {
  color: #E6BE2F;
}

.app-section__red-heading {
  color: #D72F31;
}

.app-section__blue-heading {
  color: #0093CF;
}

.app-section__medium-text-column {
  width: 66%;
}

.app-section__small-text-column {
  width: 33%;
}

h1, h2, h3 {
  font-family: "BroadSans-Bold";
  margin: 0;
}

h1 {
  font-size: 120px;
  line-height: 110px;
}

h2 {
  font-size: 80px;
  line-height: 96px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
}

p {
  font-family: "Pinopolis-Regular";
  font-size: 20px;
  line-height: 32px;
  margin: 0;
  white-space: pre-line;
}
